<!DOCTYPE html>
<html lang="en" data-theme="light">
    <%- include('/src/templates/partials/head', {title: `${data.title} - ${data.main.title}`}) -%>
    <link href="/styles/articleStyles.css" rel="stylesheet" />
  <body>
    <div class="layout">
        <%- include('/src/templates/partials/header') -%>
        <main class="container">
            <article class="article-content">
                <header class="article-header">
                    <div class="article-meta-row">
                        <time datetime="<%- data.date %>">
                            <%- new Date(data.date).toLocaleDateString('en-us', { timeZone: 'UTC', weekday:"long", year:"numeric", month:"short", day:"numeric"}) -%>
                        </time>
                        <span>&bull;</span>
                        <% if (data.tagList && data.tagSlugs) { %>
                            <% data.tagList.forEach((tag, idx) => { %>
                                <a href="/tags/<%= data.tagSlugs[idx] %>.html" class="article-tag"><%= tag %></a>
                            <% }); %>
                        <% } %>
                    </div>
                    <h1 class="article-title"><%-data.title -%></h1>
                </header>
                <section>
                    <%- data.html -%>
                </section>
            </article>
            <hr/>
            <footer>
                <%- include('/src/templates/partials/social') -%>
            </footer>
            <%- include('/src/templates/partials/navigation', {previousArticle: data.previousArticle, nextArticle: data.nextArticle}) -%>
        </main>
        <%- include('/src/templates/partials/footer') -%>
    </div>
    <script src='/js/main.js'></script>
  </body>
</html>
