<!DOCTYPE html>
<html lang="en">
    <%- include('/src/templates/partials/head', {title: `${data.main.title} - ${data.main.tagline}`}) -%>
    <body>
        <div class="layout">
            <%- include('/src/templates/partials/header') -%>
            <main class="main">
                <section class="primary">
                    <%- 
                        data.articles.map(article => 
                            `<a href="/${article.path}">
                                <article class="article">
                                    <h3>${article.title}</h3>
                                    <small> 
                                        ${new Date(article.date).toLocaleDateString('en-us', { timeZone: 'UTC', weekday:"long", year:"numeric", month:"short", day:"numeric"})}
                                    </small>
                                    <p>
                                        ${article.teaser}
                                    </p>
                                    <footer class="article__footer">
                                        <span class="read-more">Read Article →</span>
                                    </footer>
                                </article>
                            </a>`
                        ).join('') 
                    -%>
                </section>
                <section class="secondary">
                    <%- include('/src/templates/sidebar', {sidebar: data.sidebar}) -%>
                </section>
            </main>
            <%- include('/src/templates/partials/footer') -%>
        </div>
    </body>